.container
	.jumbotron
		h1 TESTSSSASAS
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, quas cupiditate incidunt aut modi voluptatem veritatis! Suscipit, aspernatur, fugiat, ab voluptas fuga est aliquid voluptatum incidunt odio maiores commodi reiciendis!
		.row
			.col-md-6
				div(ng-include="'partials/featured-courses'")
			.col-md-6
				div(ng-include="'partials/new-courses'")